<br>

<div style="text-align:center">
    <h1>Проверь, искали ли взаимные лайки пользователя в нашем сервисе!</h1>
</div>

<div style="text-align:center;">
    <div *ngIf="user">
        <span style="font-size: 1.5em;">{{user.fullUserName}}</span>
        <div *ngIf="user.userChecked; else elseBlock">
            <span style="color: green; font-size: 1.4em;">
                У данного пользователя искали взаимные лайки!

                <br>

                <span>Время последней проверки: {{user.dataLastChecked}}</span>

            </span>
        </div>
        <ng-template #elseBlock>
            <span style="color: crimson;">
                У данного пользователя не искали взаимные лайки!
            </span>
        </ng-template>
    </div>
    <p class="lead" *ngIf="disabledForm">
        Ваш запрос обрабатывается...
        Пожалуйста, ожидайте. После завершения поиска, данная надпись пропадет и на
        экране появится результат!
    </p>
</div>



<br>

<form class="form col-12" (ngSubmit)="Search(myform)" #myform="ngForm">
    <mat-form-field class="col-12" appearance="outline">
        <h1>Введите данные</h1>
        <mat-form-field class="example-full-width col-12">
            <br />
            <input type="number" [disabled]="disabledForm" id="userId" matInput name="userId" ngModel
                placeholder="ID пользователя" />
        </mat-form-field>
        <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="disabledForm">
            Проверить
        </button>
    </mat-form-field>
</form>