<br>

<div style = "text-align:center">
    <h1>Узнай, с кем обменивается лайками твой друг или знакомый!</h1>
</div>

<div style ="text-align:center;">
    <p class="lead" *ngIf="disabledForm">
        Ваш запрос обрабатывается... Это может занять довольно длительное время.
        Пожалуйста, ожидайте. После завершения поиска, данная надпись пропадет и на
        экране появится результат!
    </p>
</div>

<pre *ngIf="user">
    <h3>
        <span>{{ user.data }}</span>
    </h3>
 </pre>

<br>

<form class="form col-12" (ngSubmit)="Search(myform)" #myform="ngForm">
    <mat-form-field class="col-12" appearance="outline">
        <h1>Введите данные</h1>
        <mat-form-field class="example-full-width col-12">
            <br />
            <input type="number" id="userId" matInput name="userId"  ngModel placeholder="ID пользователя" />
        </mat-form-field>
        <div class="form-group offset-1 col-12">
            <br />
            <mat-radio-group name="sex" ngModel aria-label="Выберите фильтр">
                <mat-radio-button value="0">Только девушки</mat-radio-button>
                <br />
                <mat-radio-button value="1">Только парни</mat-radio-button>
                <br />
                <mat-radio-button value="2">Без фильтра</mat-radio-button>
                <br />
            </mat-radio-group>

            <br />
            <br />
        </div>
        <button class="btn btn-warning btn-lg btn-block" type="submit" [disabled]="disabledForm">
            Начать поиск
        </button>
    </mat-form-field>
</form>