<br>

<div style="text-align:center">
    <h1>Узнай, с кем обменивается лайками твой друг или знакомый!</h1>
</div>

<div style="text-align:center;">
    <p *ngIf="!serverRunningStatus" style="color: brown;">
        Пожалуйста, дождитесь включения сервера!<br>Как только Вы подключитесь
        к серверу, эта надпись пропадет и форма станет активной!</p>
    <p class="lead" *ngIf="disabledForm && serverRunningStatus">
        Ваш запрос обрабатывается... Это может занять довольно длительное время.
        Пожалуйста, ожидайте. После завершения поиска, данная надпись пропадет и на
        экране появится результат!
    </p>
</div>

<div *ngIf="users">

    <div *ngIf="!users[0].additionalData; else elseBlock">
        <span>Пользователь: {{users[0].userName}}</span>
        <br>
        <br>
        <span style="margin-left: 20px;">Взаинмые лайки найдены со следующими пользователями:</span>
        <br>
        <div *ngFor="let user of users.slice(1)">
            <a style="margin-left: 50px;" target="_blank" href="https://vk.com/id{{user.userId}}">
                {{user.userName}}
            </a>
        </div>
    </div>

    <ng-template #elseBlock>
        <div>
            Пользователь: {{users[0].userName}}
            <br>
            <br>
            {{users[0].additionalData}}
            <br>
        </div>
    </ng-template>

</div>


<br>

<form class="form col-12" (ngSubmit)="Search(myform)" #myform="ngForm">
    <mat-form-field class="col-12" appearance="outline">
        <h1>Введите данные</h1>
        <mat-form-field class="example-full-width col-12">
            <br />
            <input type="number" [disabled]="disabledForm" required id="userId" matInput name="userId" ngModel
                placeholder="ID пользователя" />
        </mat-form-field>
        <div class="form-group offset-1 col-12">
            <br />
            <mat-radio-group [disabled]="disabledForm" name="sex" ngModel aria-label="Выберите фильтр">
                <mat-radio-button value="0">Только девушки</mat-radio-button>
                <br />
                <mat-radio-button value="1">Только парни</mat-radio-button>
                <br />
                <mat-radio-button value="2">Без фильтра</mat-radio-button>
                <br />
            </mat-radio-group>

            <br />
            <br />
        </div>
        <button class="btn btn-warning btn-lg btn-block" type="submit" [disabled]="disabledForm">
            Начать поиск
        </button>
    </mat-form-field>
</form>